h1,
.h1 {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.25em;
}

@media (min-width: 994px) {
  h1,
  .h1 {
    font-size: 3rem;
    font-weight: var(--font-weight-bold);
  }
}
